/* ------------------------------------------------------------------------------------------------------------------------------
HEADER
--------------------------------------------------------------------------------------------------------------------------------*/
.header {
	position: sticky;
	top: 0;
	z-index:11000;

	background-color: var(--accent);

	.logo {
		width: 100px;	

		svg {
			min-width: 100%;
			width: 100%;
			aspect-ratio: 332/88;

			fill: white;			
		}
	}

    // bootstrap extra
    .justify-content-end{
        display: flex;        
        align-items: center;

        min-height: 50px;      
		
		@include sm{
			padding-right: 15px;
			padding-left: 15px;
		}
    }
}
