/* ------------------------------------------------------------------------------------------------------------------------------
POPUP Swiper
------------------------------------------------------------------------------------------------------------------ */
.popup {
	position: fixed;
	top: 50px;
	left: 0;
	width: 100%;
	height: calc(100vh - 51px);
	opacity: 0;
	visibility: hidden;
	z-index: 13000;
	transition-property: opacity visibility;
	transition-duration: 0.7s;
	transition-timing-function: ease-in-out;
	// overflow: hidden;
}

.popup.show {
	opacity: 1;
	visibility: visible;
}

.popup__window {
	position: relative;
	left: 50%;
	transform: translateX(-50%);

	z-index: 9999;
	background: #fff;
	height: 100%;

	max-width: calc(var(--container-width) - 30px - var(--container-padding-desktop));
	width: 100%;
	min-height: calc(100vh - 70px);
	padding: 60px 45px 30px 45px;
	transition: opacity 0.25s ease, transform 0.25s ease;
	border-bottom: 1px solid rgba(0, 150, 211, 0.25);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	user-select: none;

	@include xl {
		padding: 60px 45px 25px 45px;
	}

	@include lg {
		padding: 30px;
		max-width: calc(100% - 15px - var(--container-padding-large));
	}

	@include sm {
		padding: 15px;
		max-width: calc(100% - var(--container-padding-small));
	}
}

.popup__title {	
	flex-shrink: 1;
}

.popup__close {
	position: absolute;
	right: 20px;
	top: 20px;
	background-color: #f6f6f5;
	border-radius: 5px;
	width: 25px;
	height: 25px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
	border: 1px solid rgb(0, 150, 211, 0.05);
}

.popup__close:hover svg {
	fill: var(--accent);
}

.popup__close svg {
	fill: #bbbbba;
	width: 100%;
	height: 100%;
	transition: fill 0.3s ease-in-out;
}
.popup__title {
	position: relative;
	z-index: 10000;
	font-size: 24px;
	font-weight: bold;
	color: var(--text);
	
	padding-top: 20px;
	padding-bottom: 10px;

	@include lg {
		font-size: 22px;
	}
	@include sm {
		padding-top: 5px;
		font-size: 15px;
	}
}

.popup__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.popup__center {
	display: flex;
	flex-direction: column;	
	min-height: 0; /* критично! */
}

.sliderModal {		
	height: calc(100% - 54px);
	
	.swiper-slide {	
		height: 100%;		

		.product-variant {
			width: 100%;
			height: 100%;			
			border: 1px solid transparent;
			border-radius: 12px;
			overflow: hidden;			
			transition: all 0.3s ease-in-out;

			&:hover {
				border: 1px solid rgba(0, 150, 211, 0.25);
			}
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover; /* ровно твой эффект crop */
			object-position: center; /* центрируется */
			display: block;
			border-radius: 12px;
			overflow: hidden;
		}
	}
}

.sliderModal .swiper,
.sliderModal .swiper-wrapper,
.sliderModal .swiper-slide {
	height: 100%;
}
