/* ------------------------------------------------------------------------------------------------------------------------------
POPUP Swiper
------------------------------------------------------------------------------------------------------------------ */
.popup {
	position: absolute;
	top: 50px;
	left: 0;
	width: 100%;
	height: 100vh;
	opacity: 0;
	visibility: hidden;
	z-index: 9000;
	transition: all 1s ease-in-out;

	@include xl {
		top: -15px;
	}
}

.popup.show {
	opacity: 1;
	visibility: visible;
}

.popup__window {
	position: absolute;

	z-index: 9999;
	background: #fff;

	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 100%;
	max-width: 1440px;
	min-height: calc(100vh - 70px);
	padding: 80px 45px 30px 45px;
	transition: opacity 0.25s ease, transform 0.25s ease;
	border-bottom: 1px solid rgba(0, 150, 211, 0.25);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	user-select: none;

	@include xl {
		padding: 60px 45px 25px 45px;
	}

	@include lg {
		padding: 30px;
	}

	@include sm {
		padding: 15px;
	}
}

.popup__close {
	position: absolute;
	right: 20px;
	top: 20px;
	background-color: #f6f6f5;
	border-radius: 5px;
	width: 25px;
	height: 25px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
	border: 1px solid rgb(0, 150, 211, 0.05);
}

.popup__close:hover svg {
	fill: var(--accent);
}

.popup__close svg {
	fill: #bbbbba;
	width: 100%;
	height: 100%;
	transition: fill 0.3s ease-in-out;
}
.popup__title {
	font-size: 24px;
	font-weight: bold;
	color: var(--text);
	padding-top: 60px;

	@include xl {
		padding-top: 40px;
	}
	@include lg {
		font-size: 22px;
	}
	@include sm {
		font-size: 15px;
		padding-top: 5px;
	}
}
